{{define "content"}}
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Hello, Manager!</h1>
      <p>Welcome to your manage service web project.</p>
    </div>
  </div>
</div>
{{end}}
